<div class="container-fluid">
  <div class="container">
    <div class="row">

      <div class="col-1">
        <ul>
          <div class="footerHeader">
            <li><a href="#">Study Abroad</a></li>
          </div>
          <div class="footermenu">
            <li><a href="#">How to choose your destinations</a></li>
            <li><a href="#">Study abroad intakes</a></li>
            <li><a href="#">Guide for dudines</a></li>
            <li><a href="#">Institution answers</a></li>
            <li><a href="#">Student stories</a></li>
          </div>
        </ul>
      </div>

      <div class="col-1">
        <ul>
          <div class="footerHeader">
            <li><a href="#">Useful Links</a></li>
          </div>
          <div class="footermenu">
            <li><a href="#">How to choose your destinations</a></li>
            <li><a href="#">Study abroad intakes</a></li>
            <li><a href="#">Guide for dudines</a></li>
            <li><a href="#">Corporate responsibility</a></li>
            <li><a href="#">ielts.idp.com</a></li>
          </div>
        </ul>
      </div>

      <div class="col-1">
        <ul>
          <div class="footerHeader">
            <li><a href="#">IELTS</a></li>
          </div>
          <div class="footermenu">
            <li><a href="#">How to choose your destinations</a></li>
            <li><a href="#">Study abroad intakes</a></li>
            <li><a href="#">Guide for dudines</a></li>
            <li><a href="#">Book a test</a></li>
            <li><a href="#">IELTS support</a></li>
          </div>
        </ul>
      </div>

      <div class="col-1">
        <ul>
          <div class="footerHeader">
            <li><a href="#">Connect with IDP</a></li>
          </div>
          <div class="footermenu">
            <li><a href="#">How to choose your destinations</a></li>
            <li><a href="#">Study abroad intakes</a></li>
            <li><a href="#">Guide for dudines</a></li>
            <li><a href="#">Welcome events</a></li>
            <li><a href="#">Student Essentials</a></li>
          </div>
        </ul>
      </div>

    </div>
    <div class="clr"></div>
  </div>
</div>

<!----------------------Bottom Footer------------------------------>
<div class="bottom-footer">
  <div class="container bottom-cnt">
    <div class="copy">
      <p> Copyright &copy IDP Education</p>
    </div>

    <div class="copy">
      <p>Disclaimer | Privacy Policy | Terms Of Use | Investors</p>
    </div>

    <div class="copy icon-cnt">
      <img src="../../assets/icons/instagram.png" alt="logo">
      <img src="../../assets/icons/facebook.png" alt="logo">
      <img src="../../assets/icons/twitter.png" alt="logo" />
      <img src="../../assets/icons/linkedin-icon.png" alt="logo" />
      <img src="../../assets/icons/youtubeicon.png" alt="logo" />
      <img src="../../assets/icons/pinterest-icon.png" alt="logo" />
    </div>
  </div>
</div>